body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #0e171e;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
/*    height: 100vh;
    width: 100vw;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.container {
    max-width: 100%;
}

.navbar-inverse {
    background-color: #416a8d;
    border-color: #01172e;
    color: #01172e
}

    .navbar-inverse .navbar-brand {
        color: #e2f0fb !important;
        font-size: 1.65em;
    }

.navbar > .container .navbar-brand {
    margin-left: 0;
    font-weight: 400;
}

.footer p {
    color: #ccd9e4;
}

.read-highlight {
    color: #a7ff00;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 0.5rem;
    color:#fff;
}

form input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 240px;
}

form button {
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    background-color: #cfcfcf;
    color: #000;
    cursor: pointer;
    width: 240px;
}

form button:hover {
    background-color: #9da0bb;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: left;
}

table th {
    background-color: #f4f4f4;
}

h2
{
    color:#fff;
}

.github-md {
    height: 580px;
    padding: 1em;
    margin: 1.5em;
    overflow-y: auto;
    line-height: 1.5em;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-size: 1em;
    color: #fff;
    background:none;
}

.github-md hr{
    height:0.1em;
}

.seperator {
    color: #0094ff
}


.player-cont {
    position: relative;
    margin: 0.6em 1.4em;
}

.player-holder {
    position: absolute;
    color: #b6ff00;
    right: 0;
    top: -1.5em;
}

.intractBtn {
    font-size: 1.5em;
    color: #86bde5;
}

.prompt-input {
    padding: 1em;
    padding-top: 0;
    width: 100%;
    clear: both;
    position: relative
}

#txtPrompt {
    width: 100%;
    padding: 10px;
    padding-right: 8em;
    height: 80px;
    border-radius: 1em;
    border: solid 1px #6f808f;
    background-color: #3b454c;
    color: #d1dafe;
}

.prompt-ctrl {
    position: absolute;
    right: 30px;
    top: 6px
}

.prompt-ctrl a {
    color:#ccd9e4;
}

.footer {
    margin: 0.5em 1em;
}

.font3em {
    font-size: 3em
}

.response-cont {
    height: calc(100vh - 230px) !important;
    overflow-y:auto;
    margin:0 1em;
    padding:0 0.5em;
    scrollbar-width:thin;
    /*border:solid 1px #b6ff00;*/
}

.audio-cont {
    position: absolute;
    top: -50px;
    left: calc(100vw / 2 - 200px);
    opacity:0.1;
}

    .audio-cont:hover {
        opacity: 1;
    }

    /*Bootstrap fixes*/
    .navbar-fixed-top, .navbar-fixed-bottom {
        position: inherit !important;
    }

.navbar {
    margin-bottom: 1em;
    background-color:#2d4b62;
}

.container {
    padding-right: 0;
    padding-left: 0;
}

.navbar-brand span {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ccd9e4 !important;
}

/*Loader*/
.loader-container {
    /*background-color: #292a2c;*/
    width: 100%;
    height: 100%;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    display: none;
}

.loader {
  border: 12px double #ff7b00;
  border-radius: 50%;
  border-top: 12px double #292a2c;
  width: 100px;
  height: 100px;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

.loader-container p {
    color: #fafafa;
    font-family: courier;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 5px;
}

/*Loader End*/