{% extends "layout.html" %}

{% block content %}

<div class="jumbotronf prompt-input">
    <!--<h4>Speak or type for your result</h4>-->
    <textarea id="txtPrompt"></textarea>
    <div class="prompt-ctrl">
        <a class="font3em" id="btnSpeak" class="speak"><i id="icnSpeak" class="bi bi-mic"></i></a>
        <a class="font3em" id="btnAsk" class=""><i class="bi bi-hand-thumbs-up"></i></a>
    </div>
    <input type="hidden" value="NO" id="hdnKeeprun" />
</div>
<div class="jumbotronf">
    <!--<h4>Speak or type for your result</h4>-->
    <div clss="player-cont" style="position: relative; margin: 0.6em 1.4em;">
        <div class="audio-cont">
            <audio id="myAudio" controls>
                <source id="audSrc" src="#" type="audio/mp3">
            </audio>
        </div>
        <div class="player-holder">
            <!--<a class="intractBtn speak" id="btnSpeaker" title="Mute/Unmute"><i id="icnSpeaker" class="bi bi bi-volume-mute"></i></a>
            <span class="seperator">|</span>
            <a class="intractBtn speak" id="btnPlay" title="Plat/Pause"><i id="icnPlay" class="bi bi-play"></i></a>
            <span class="seperator">|</span>
            <a class="intractBtn" id="btnStop" onclick="stopAudio()" title="Stop"><i class="bi bi-stop"></i></a>
            <span class="seperator">|</span>-->
            <a class="intractBtn" id="btnhtmlSave" title="Export Response"><!--<i class="bi bi-download">--><i class="bi bi-file-earmark-arrow-up"></i></i></a>
            <span class="seperator">|</span>
            <a class="intractBtn" id="btnhtmlImport" title="Import Response"><!--<i class="bi bi-download">--><i class="bi bi-file-earmark-arrow-down"></i></i></a>
            <span class="seperator">|</span>
            <a class="intractBtn" id="btnClrResult" title="Clear Response"><i class="bi bi-eraser"></i></a>
        </div>
    </div>
    <!--<a class="intractBtn" id="btnMore">More...</a>-->    
    <input style="visibility:hidden" type="file" id="fileInput">
</div>
<div class="response-cont">
    <github-md id="txtResp" class="github-md"></github-md>
</div>
<input type="hidden" id="hdnHistory" />
<script src="../static/scripts/iguide-slider.js" type="text/javascript"></script>
<script src="../static/scripts/markdown-tag-GitHub.js"></script>
<script type="text/javascript">
    

</script>
{% endblock %}
